<%= form_with url: login_path, method: :post, local: true do|f| %>
<% if flash[:alert] %>
  <p class="text-red-500"><%= flash[:alert] %></p>
<% end %>
<div class="flex flex-col items-center justify-center h-screen">
  <div class="w-full max-w-md">
    <h1 class="text-2xl font-bold mb-4">ログイン</h1>
    <%= f.email_field :email, value: params[:email], placeholder: "メールアドレス", class: "w-full p-2 border border-gray-300 rounded-md mb-4" %>
    <%= f.password_field :password, placeholder: "パスワード", class: "w-full p-2 border border-gray-300 rounded-md mb-4" %>
    <%= f.submit "ログイン", class: "w-full p-2 bg-blue-500 text-white rounded-md" %>
  </div>
</div>
<% end %>